* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(150, 255, 255);
  height: 100vh;
}

.text-center {
  text-align: center;
}

.form {
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px black;
  width: 200px;
}

.form h2 {
  margin-bottom: 20px;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.field {
  width: 100%;
}

.field input {
  border: 1px solid gray;
  padding: 5px;
  margin-bottom: 2px;
  border-radius: 5px;
  width: calc(100% - 10px);
}

.hint {
  font-size: x-small;
  min-height: 20px;
}

.actions {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
